*
body {
    text-align: center;
    font-family: Helvetica
    }
.top {
      color: white;
      font-size: 70px;
     }
.top .link {
          font-family: Helvetica;
          font-size: 18px;
          color: white;
          display: flex;
          flex-direction: column;
         }
#mid {
      color: white;
      font-size: 23px;
     }
#process {
          font-size: 23px;
        }
p {
  font-size: 14px;
  }
#footer {
        color: white;
        text-align: left;
        background-color: dimgray;
        font-size: 11px;
        }
a {
  color: white;
}
